<!DOCTYPE html PUBLIC
        "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta content="text/html; charset=UTF-8" name="Content-Type"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="320"/>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>
<div id="videoGallery" class="vd-gllry hl">
    <div class="vd-gllry--plyr hli videoPlayer">
        <div class="vd playVideo" data-video-id="3AtDnEC4zak">
            <div id="youtubeVideoImg" class="vd--img youtubeVideoImg">
                <div class="vd--img__ply">
                    <div class="vd--img__icn fa-stack fa-4x" aria-hidden="true">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-play fa-stack-1x vd--img__icnp"></i>

                        <div class="vd--img__icn--ovrly"></div>
                    </div>
                </div>

                <img src="http://img.youtube.com/vi/3AtDnEC4zak/0.jpg"/>
            </div>

            <div class="vd--ovrly youtubeVideoOvrly"></div>
        </div>
    </div>

    <div class="vd-gllry--bar hli sonly videoBar">
        More Videos <span class="vd-gllry--bar__icn videoBarIcn">▼</span>
    </div>

    <div class="vd-gllry--l hli videoList">
        <div class="vd-gllry--l__i playVideo" data-video-id="3AtDnEC4zak">
            <div class="vd-h selected hl playVideoItm">
                <div class="vd-h--icn hli">
                    <span class="playVideoIcn">&#9654;</span>
                </div>
                <div class="vd-h--img hli">
                    <img src="http://img.youtube.com/vi/3AtDnEC4zak/1.jpg"/>
                </div>

                <div class="vd-h--ttl hli">
                    Charlie Puth - We Don't Talk Anymore (feat. Selena Gomez) [Official Video]
                </div>
            </div>
        </div>

        <div class="vd-gllry--l__i playVideo" data-video-id="LHCob76kigA">
            <div class="vd-h hl playVideoItm">
                <div class="vd-h--icn hli">
                    <span class="playVideoIcn hide">&#9654;</span>
                </div>
                <div class="vd-h--img hli">
                    <img src="http://img.youtube.com/vi/LHCob76kigA/1.jpg"/>
                </div>

                <div class="vd-h--ttl hli">
                    Lukas Graham - 7 Years [OFFICIAL MUSIC VIDEO]
                </div>
            </div>
        </div>

        <div class="vd-gllry--l__i playVideo" data-video-id="bvC_0foemLY">
            <div class="vd-h hl playVideoItm">
                <div class="vd-h--icn hli">
                    <span class="playVideoIcn hide">&#9654;</span>
                </div>
                <div class="vd-h--img hli">
                    <img src="http://img.youtube.com/vi/bvC_0foemLY/1.jpg"/>
                </div>

                <div class="vd-h--ttl hli">
                    Robin Schulz - Sugar (feat. Francesco Yates) (OFFICIAL MUSIC VIDEO)
                </div>
            </div>
        </div>

        <div class="vd-gllry--l__i playVideo" data-video-id="pXRviuL6vMY">
            <div class="vd-h hl playVideoItm">
                <div class="vd-h--icn hli">
                    <span class="playVideoIcn hide">&#9654;</span>
                </div>
                <div class="vd-h--img hli">
                    <img src="http://img.youtube.com/vi/pXRviuL6vMY/1.jpg"/>
                </div>

                <div class="vd-h--ttl hli">
                    twenty one pilots: Stressed Out [OFFICIAL VIDEO]
                </div>
            </div>
        </div>

        <div class="vd-gllry--l__i playVideo" data-video-id="RgKAFK5djSk">
            <div class="vd-h hl playVideoItm">
                <div class="vd-h--icn hli">
                    <span class="playVideoIcn hide">&#9654;</span>
                </div>
                <div class="vd-h--img hli">
                    <img src="http://img.youtube.com/vi/RgKAFK5djSk/1.jpg"/>
                </div>

                <div class="vd-h--ttl hli">
                    Wiz Khalifa - See You Again ft. Charlie Puth [Official Video] Furious 7 Soundtrack
                </div>
            </div>
        </div>

        <div class="vd-gllry--l__i playVideo" data-video-id="lp-EO5I60KA">
            <div class="vd-h hl playVideoItm">
                <div class="vd-h--icn hli">
                    <span class="playVideoIcn hide">&#9654;</span>
                </div>
                <div class="vd-h--img hli">
                    <img src="http://img.youtube.com/vi/lp-EO5I60KA/1.jpg"/>
                </div>

                <div class="vd-h--ttl hli">
                    Ed Sheeran - Thinking Out Loud [Official Video]
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" defer></script>
<script src="../static/js/app.js" defer></script>
</body>
</html>
